.btn {

	text-decoration: none;
	padding: 1rem 4rem;
	border-radius: 10rem;
	text-transform: uppercase;
	display: inline-block;
	transition: all 0.2s;
	position: relative;
	font-size: $default-font-size;

	&:focus { outline: none; }
	
	&:link,
	&:visited {
		text-decoration: none;
		padding: 1.5rem 4rem;
		border-radius: 10rem;
		text-transform: uppercase;
		display: inline-block;
		transition: all 0.2s;
		position: relative;
		font-size: $default-font-size;
	}

	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 1rem 2rem rgba($black, 0.8);

		&::after {
			transform: scale(1.4, 1.6);
			opacity: 0;
		}
	}

	&:active {
		transform: translateY(-1px);
		box-shadow: 0 0.5rem 1rem rgba($black, 0.8);
	}

	&--white {
		background: $white;
		color: $dark-grey;

		&::after {
			background-color: $white;
		}
	}

	&--primary {
		background: linear-gradient(154.55deg, #7b42f6 0%, #b01eff 100%);
		color: $light-grey;

		&::after {
			background: linear-gradient(154.55deg, #7b42f6 0%, #b01eff 100%);
		}
	}

	&::after {
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		background: inherit;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -10;
		transition: all 0.4s;
	}
}


.btn-text {
	&:link,
	&:visited {
		display: inline-block;
		background: linear-gradient(124.85deg, #b01eff 0%, #e1467c 100%);
		color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
		text-decoration: none;
		border-bottom: solid 2px;
		border-color:	#d21effab;
		padding: 3px;
		font-size: 1.6rem;
		text-transform: uppercase;
		font-weight: bold;
	}

	&:hover {
		background: linear-gradient(124.85deg, #b01eff 0%, #e1467c 100%);
		color: $white;
		box-shadow: 0 1rem 2rem rgba($black, 0.7);
		transform: translateY(-2px);
	}

	&:active {
    box-shadow: 0 .5rem 1rem rgba($black, 0.8);
    transform: translate(0);
	}
}
